@supports not (height: 100svh) {
  .h-screen {
    height: 100vh;
  }
}

/* TODO */
@supports not (aspect-ratio: 1) {
  .thumb {
    height: 50%;
  }
}

@supports not (backdrop-filter: blur()) {
  .glass {
    background: rgba(0, 0, 0, 0.4);
  }
}
